@import './base.css';

body {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-image: url('./wavy-lines.svg');
  background-size: cover;
  user-select: none;
}

code {
  font-weight: 600;
  padding: 3px 5px;
  border-radius: 2px;
  background-color: var(--color-background-mute);
  font-family:
    ui-monospace,
    SFMono-Regular,
    SF Mono,
    Menlo,
    Consolas,
    Liberation Mono,
    monospace;
  font-size: 85%;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 80px;
}

.text {
  font-size: 28px;
  color: var(--ev-c-text-1);
  font-weight: 700;
  line-height: 32px;
  text-align: center;
  margin: 0 10px;
  padding: 16px 0;
}

main {
  display: grid;
  gap: 1em;
  grid-template-columns: 1fr 3fr;
}

main > article:first-child {
  grid-column: 1;
}

main > article:last-child {
  grid-column: 2;
  & > .react-tabs > ul {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    padding-inline-start: 0;
    font-size: smaller;
    & > li {
      text-align: center;
      font-weight: bold;
      cursor: pointer;
      border: 1px solid black;
    }
  }
}

.move-table {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  justify-items: center;
}

.level-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}
.level-list > section {
  display: grid;
  grid-template-columns: 1fr 14ex 1fr;
  justify-items: center;
}
.level-list > .level2 {
  grid-row: 2;
}
.level-list > .level3 {
  grid-row: 3;
}
.level-list > .level4 {
  grid-row: 4;
}
.level-list img {
  height: 24px;
}

.count-icon,
.slam-icon,
.double-icon,
.simple-icon {
  position: relative;
  cursor: pointer;
}

.count-icon > span {
  position: absolute;
  left: 0px;
  color: gold;
  background-color: black;
  font-weight: bold;
  font-size: 12px;
  line-height: 1;
}

.simple-icon > span {
  position: absolute;
  left: 0px;
  color: red;
  background-color: black;
  font-weight: bold;
  font-size: 12px;
  line-height: 1;
}
.simple-icon.have > span {
  color: green;
}

.generator-settings > span {
  cursor: pointer;
}

.hint-drops {
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.hint-section h3 {
  margin: 0 auto;
  text-align: center;
}

.hint-drops {
  overflow-y: auto;
  height: 18vh;
}

.hint-drops > *:nth-child(even) {
  cursor: pointer;
}

.runtime-settings > h3 {
  margin: 0 auto;
  text-align: center;
}

.runtime-settings > div {
  display: grid;
  grid-template-columns: 15fr 1fr;
}

.runtime-settings > div > span {
  cursor: pointer;
  text-align: right;
}

.modal-settings > .pool {
  display: grid;
  grid-template-columns: repeat(3, 3fr 1fr);
}
.modal-settings > .pool > h3 {
  margin: 0 auto;
  display: flex;
  grid-column-start: 1;
  grid-column-end: 7;
}

.switchsanity-settings > h4 {
  text-align: center;
}
.switchsanity-settings > section {
  display: grid;
  grid-template-columns: 7fr 1fr;
  height: 27vh;
  overflow-y: auto;
}
.switchsanity-settings > section > img {
  text-align: right;
  margin-left: auto;
}

main .grid {
  display: grid;
  grid-template-columns: 4fr 2.5fr 0.5fr;
  overflow-y: auto;
  height: calc(100vh - 3ex);
}

.grid > .checked:nth-of-type(3n + 1) > span:first-child,
.grid > .checked:nth-of-type(3n + 2) {
  /* display: none; */
  text-decoration: line-through;
}

.grid > .checked:nth-of-type(3n + 1)::after {
  /* content: '  ✓'; */
  text-decoration: none;
}

.grid > .checked > span + span {
  text-decoration: none;
}

.grid > :not(.checked) > .not-available {
  color: red;
}

.grid > :not(.checked) > .logic-break {
  color: yellow;
}

.grid > :not(.checked) > .available {
  color: cyan;
}

.grid > :not(.checked).foolish {
  color: red;
}
.grid > :not(.checked).woth {
  color: gold;
}

@media (max-width: 720px) {
  .text {
    font-size: 20px;
  }
}
